<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/categoria/criar">Categoria</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/produto/criar">Subcategoria</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/subproduto/lista">Lista de produtos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
  </li>
</ul>
