<$- include('../partials/head.ejs') $>
<$- include('../partials/navbar.ejs') $>
<body>
    <div class="container">
      <br>
      <h1  class="card-title dimCard">Categorias</h1> 
      <br>
      <br>
      <div class="card dimCard">
        
          <div class="card-body">
            <h5 class="card-title "><strong>Editar</strong> </h5>
            <hr>
            <form class="dimCard" action="/categoria/editar" method="post">
              <label for="nome" class="form-label">Nome</label>
              <input name="nome" class="form-control" type="text" placeholder="Nome da categoria" value="<$= categoria.nome $>">
              <input type="hidden" name="id" value="<$= categoria.id $>">
              <br>
              <button type="submit" class="btn btn-primary">
                <i class="bi bi-save"> Alterar</i></button>
            </form>
          </div>
        </div>
        <br>
        <div class="dimCard">
            <a href="/categoria/criar" type="button" class="btn btn-secondary dimCard">
              <i class="bi bi-chevron-left"></i> Voltar
            </a>
        </div>
    </div>

  
</body>
<$- include('../partials/footer.ejs')  $>